<style>
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.profile .blurbs .heading, .profile .friends .heading {
    font-family: 'Roboto Slab', serif;
    background: rgba(200,0,90,0.2) !important;
    color: black;
    font-size: 1.50rem;
}


h1 {
    font-size: 1.5rem !important;
}

p {
    font-size: 1rem !important;
}

a {
    color: rgba(224,146,0,1);
}

.emphasize {
    color: rgba(78,170,75,1);
}

@import url("https://tomquinn04.github.io/spacehey/addons/online-glow.css");
.online,.online:before {
    --onl_baseColor: cyan; /* Main color for glow */
    --onl_darkColor: navy; /* Dark color for glow */
    --onl_brightColor: #0000ff; /* Color for shadow of the glow */
    --onl_leftOffset: 0px; /* Adjust this to move it left/right */
    --onl_topOffset: 0px; /* Adjust this to move it up/down */
}
</style>
